<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Borrowed Record Form</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1 class="mb-4">Borrowed Record Form</h1>
  <form th:action="@{/borrowedRecords}" th:object="${borrowedRecord}" method="post" class="needs-validation" novalidate>
    <input type="hidden" th:field="*{id}"/>

    <div class="mb-3">
      <label for="Member" class="form-label">Member:</label>
      <select id="Member" th:field="*{memberId}" class="form-select" required>
        <option value="" disabled selected>Select a member</option>
        <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.username}"></option>
      </select>
      <div th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}" class="invalid-feedback">
        Member Error
      </div>
    </div>

    <div class="mb-3">
      <label for="Book" class="form-label">Book:</label>
      <select id="Book" th:field="*{bookId}" class="form-select" required>
        <option value="" disabled selected>Select a book</option>
        <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.title}"></option>
      </select>
      <div th:if="${#fields.hasErrors('bookId')}" th:errors="*{bookId}" class="invalid-feedback">
        Book Error
      </div>
    </div>

    <div class="mb-3">
      <label for="borrowedDate" class="form-label">Borrow Date:</label>
      <input type="date" id="borrowedDate" th:field="*{borrowedDate}" class="form-control" required/>
      <div th:if="${#fields.hasErrors('borrowedDate')}" th:errors="*{borrowedDate}" class="invalid-feedback">
        Borrow Date Error
      </div>
    </div>

    <div class="mb-3">
      <label for="returnedDate" class="form-label">Return Date:</label>
      <input type="date" id="returnedDate" th:field="*{returnedDate}" class="form-control" required/>
      <div th:if="${#fields.hasErrors('returnedDate')}" th:errors="*{returnedDate}" class="invalid-feedback">
        Return Date Error
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <a th:href="@{/borrowedRecords}" class="btn btn-secondary mt-3">Back to Borrowed Records</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
