<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<h1>Authors</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.name}">Name</td>
        <td>

            <a th:href="@{/authors/delete/{id}(id=${author.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/authors/new}">Add New Author</a>
</body>
</html>