<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{navbar.title}">Navbar</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<body>
<div th:fragment="navbar">
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center px-4">
            <a class="text-white text-lg font-bold text-2xl transform transition-transform duration-300 hover:scale-105" href="#" th:href="@{/}" th:text="#{navbar.title}">Library Management</a>
            <button class="text-gray-300 hover:text-white focus:outline-none lg:hidden" id="navbar-toggle">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
            <div class="hidden lg:flex lg:items-center lg:space-x-4 gap-5 text-lg" id="navbar-menu">
                <a class="text-gray-300 hover:text-white p-1 transform transition-transform duration-300 hover:scale-110" href="#" th:href="@{/}" th:text="#{navbar.home}">Home</a>
                <a class="text-gray-300 hover:text-white p-1 transform transition-transform duration-300 hover:scale-110" href="#" th:href="@{/books}" th:if="${@userSession.isLoggedIn()}" th:text="#{navbar.books}">Books</a>
                <a class="text-gray-300 hover:text-white p-1 transform transition-transform duration-300 hover:scale-110" href="#" th:href="@{/authors}" th:if="${@userSession.isLoggedIn()}" th:text="#{navbar.authors}">Authors</a>
                <a class="text-gray-300 hover:text-white p-1 transform transition-transform duration-300 hover:scale-110" href="#" th:href="@{/reviews/review-list}" th:if="${@userSession.isLoggedIn()}" th:text="#{navbar.reviews}">Reviews</a>
                <a class="text-gray-300 hover:text-white p-1 transform transition-transform duration-300 hover:scale-110" href="#" th:href="@{/borrowedRecords/borrowed-records-list}" th:if="${@userSession.isLoggedIn()}" th:text="#{navbar.borrowedRecords}">Borrowed Records</a>
                <a class="text-gray-300 hover:text-white p-1 transform transition-transform duration-300 hover:scale-110" href="#" th:href="@{/login}" th:unless="${@userSession.isLoggedIn()}" th:text="#{navbar.login}">Login</a>
                <a class="text-gray-300 hover:text-white p-1 transform transition-transform duration-300 hover:scale-110" href="#" th:href="@{/register}" th:unless="${@userSession.isLoggedIn()}" th:text="#{navbar.register}">Register</a>
                <a class="text-gray-300 hover:text-white p-1 transform transition-transform duration-300 hover:scale-110" href="#" th:href="@{/logout}" th:if="${@userSession.isLoggedIn()}" th:text="#{navbar.logout}">Logout</a>

                <!-- Language Selection -->
                <form th:method="get" class="language-form gap-4" style="display: flex; align-items: center; padding: 0.15rem;">
                    <label for="lang" th:text="#{navbar.language}" class="text-white">Language</label>
                    <select id="lang" name="lang" onchange="this.form.submit()" class="rounded-md text-white p-1" style="background-color: #003366" >
                        <option value="en_US" th:selected="${#locale.toString()} == 'en_US'" th:text="#{navbar.language.english}">English</option>
                        <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'" th:text="#{navbar.language.bulgarian}">Български</option>
                    </select>
                </form>
            </div>
        </div>
    </nav>
</div>

<script>
    document.getElementById('navbar-toggle').addEventListener('click', function () {
        var menu = document.getElementById('navbar-menu');
        menu.classList.toggle('hidden');
    });


</script>
</body>
</html>
